/*
        colors:

        temp:   #F53700
        hum:    #006F9A


*/

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    background-color: #212121;
}

path {
    stroke-width: 4;
    fill: none;
}

.path1 {
    stroke: #ff0000;
    stroke-width: 4;
    fill: none;
}

.circle1{
    stroke: #ff0000;
    fill: cornsilk;
    stroke-width: 8;
}

.circle2{
    stroke: #006F9A;
    fill: cornsilk;
    stroke-width: 8;
}


.path2 {
    stroke: #006F9A;
    stroke-width: 4;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: cornsilk;
    stroke-width: 5;
    shape-rendering:crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    stroke:cornsilk;

}

line {
    stroke: cornsilk;
}

text {
    font-family: Arial;
    font-size: 9pt;
}
svg{
    border: 1px solid cornsilk;
    background: #181818;
    padding: 70px 70px 70px 70px;
}

.tooltip{
    background: #fefefe;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px 2px #bbbbbb;
}

#head{
        width: 1100px;
    margin: 0 0 0 70px;
    color:cornsilk;
}

#head h1{
    margin-right: 100px;
    display:inline-block;
    color:cornsilk;
}

.text_weight{
        font-weight: 700;
}

nav{
    display: inline-block;
}

nav ul{
    padding: 10;
        display: inline-block;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #212121;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color:cornsilk;
    font-weight: 700;
}

nav ul li a:hover{
    color:#5b5b5b;
}

#leftArrow, #rightArrow{
        width: 44px;
        height: 44px;
        display: inline-block;
        vertical-align: bottom;
}

#leftArrow:hover{
        background: url('../imgs/arrow-left-hover.png') no-repeat;
        cursor: pointer;
}

#rightArrow:hover{
        background: url('../imgs/arrow-right-hover.png') no-repeat;
        cursor: pointer;
}

#leftArrow{
        background: url('../imgs/arrow-left.png') no-repeat;
  margin-left: 50px;
}

#rightArrow{
        background: url('../imgs/arrow-right.png') no-repeat;
}

#nav2{
  display: inline-block;
        float:right;
        margin-top: 32px;
}

#nav2 div{
        display: inline-block;
}
